<html ng-app="app">
<head>
	<title>Angular Gravatar Demo</title>

	<style>
		img {
			border-radius: 50%;
		}

		button {
			display: block;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	</style>

	<script src="../bower_components/angularjs/angular.js"></script>
	<script src="../bower_components/angular-md5/angular-md5.js"></script>
	<script src="../bower_components/lodash/dist/lodash.js"></script>
	<script src="../dist/angular-gravatar.js"></script>

	<script>
		angular.module('app', ['ngGravatar']).
		controller('gravatarController', ['$scope', '$gravatar', function ($scope, $gravatar) {
			$scope.email = 'rune@dinkdonk.no';
			$scope.fallbackText = 'Rune Warhuus';
		}]);
	</script>
</head>
<body ng-controller="gravatarController">
	<label>E-mail:</label>
	<input type="text" ng-model="email">

	<label>Fallback text:</label>
	<input type="text" ng-model="fallbackText">

	<button ng-click="email = 'no_match@dinkdonk.no'; fallbackText = 'No Match'">Set unknown user</button>

	<h6>With remote fallback</h6>
	<img gravatar-email="email" gravatar-size="200" gravatar-rating="pg" gravatar-fallback="http://dummyimage.com/200x200/000/fff.png">

	<h6>With local fallback</h6>
	<img gravatar-email="email" gravatar-size="200" gravatar-rating="pg" gravatar-fallback="/fallback.png">

	<h6>With text fallback</h6>
	<img gravatar-email="email" gravatar-size="200" gravatar-rating="pg" gravatar-fallback-text="{{fallbackText}}">
</body>
</html>